@*
    Created by: Gavan Lamb
    Version: 1.0
    Created to as a default admin side look. Creates the navbar and footer so content can be rendered in the "main"
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section stylesheet{
    @Styles.Render("~/style/menu")
    @RenderSection("stylesheet", required: false)
}
@section scripts{
    @RenderSection("scripts", required: false)
}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="@Url.Action("Index", "Form")">
                <img id="brand-image" src="~/Content/images/fiserv.png" alt="" />
            </a>
        </div>
        <div id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="@Url.Action("Index", "Form")">
                        <span class="ion-ios-home-outline"></span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Create", "Form")">
                        <span class="ion-ios-plus-empty"></span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Form")">
                        <span class="ion-ios-help-empty"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
@RenderBody()