<!DOCTYPE html>
<html>
<<<<<<< HEAD
    <head>
        @RenderSection("head", required: false)
        @RenderSection("stylesheet", required: false)
        @RenderSection("scripts", required: false)
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>@ViewBag.Title - Careersfair Tool</title>
    </head>
    <body>
        @RenderBody()
    </body>
</html>
=======
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
    @Styles.Render("~/Content/style")
    @Scripts.Render("~/Bundles/ribbon")
    <script type="text/javascript">
        $(document).ready(function () {
            // Smart Wizard
            $('#wizard').smartWizard();
            function onFinishCallback() {
                $('#wizard').smartWizard('showMessage', 'Finish Clicked');
                //alert('Finish Clicked');
            }
        });
    </script>
</head>
<body>
    @RenderBody()
</body>
</html>
>>>>>>> master
