<!DOCTYPE html>
<html>
    <head>
        @RenderSection("head", required: false)

        @Styles.Render("~/style/bootstrap")
        @Styles.Render("~/style/main")
        @RenderSection("stylesheet", required: false)
        
        @Scripts.Render("~/script/jquery")
        @Scripts.Render("~/script/bootstrap")
        @RenderSection("scripts", required: false)

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>@ViewBag.Title - Careersfair Tool</title>
    </head>
    <body class="container-fluid">
        @RenderBody()
        <footer class="navbar navbar-fixed-bottom">
            <ul class="list-unstyled text-center container">
                <li>
                    <p>&copy; @DateTime.Now.Year - Fiserv</p>
                </li>
            </ul>
        </footer>
    </body>
</html>
