@model careersfair.Models.ChangePassword
@{
    ViewBag.Title = "ChangePassword";
    

}

@using (Html.BeginForm("changePassword", "User",FormMethod.Post))
{
    @Html.ValidationSummary(true, "Unsuccessful");
    <div align ="center">
        <fieldset>
            
            <div class="editor-label">
                @Html.LabelFor(u=> u.OldPassword)
            </div>
            <div class="editor-field">
              @Html.PasswordFor(u => u.OldPassword)
                @Html.ValidationMessageFor(u => u.OldPassword)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.NewPassword)
            </div>
            <div class="editor-field">
             @Html.PasswordFor(u=> u.NewPassword)
                @Html.ValidationMessageFor(u => u.NewPassword)
                
            </div>
          
            <input type="submit" value="Change Password" /><br />
            <a href="/User/Menu">Back to Menu</a>
        </fieldset>
    </div>
}
