@model careersfair.Models.ChangePassword
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout1.cshtml";

}

@using (Html.BeginForm("changePassword", "User",FormMethod.Post))
{
    @Html.ValidationSummary(true, "Unsuccessful");
    <div>
        <fieldset>
            <legend>Login</legend>
            <div class="editor-label">
                @Html.LabelFor(u=> u.OldPassword)
            </div>
            <div class="editor-field">
              @Html.PasswordFor(u => u.OldPassword)
                @Html.ValidationMessageFor(u => u.OldPassword)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.NewPassword)
            </div>
            <div class="editor-field">
             @Html.PasswordFor(u=> u.NewPassword)
                @Html.ValidationMessageFor(u => u.NewPassword)
            </div>
          
            <input type="submit" value="Change Password" />
        </fieldset>
    </div>
}
