@*
    Created by: Gavan Lamb
    Version: 1.0
    Date created: 02/07/2015
    This view implements the bootstrap form builder which is based on bootstrap 3.0.
    This form builder uses the directory in ~/Scripts/assets , the form builder
    is implemented between the id="builder" div.
*@
@model careersfair.Models.Form
@{
    ViewBag.Title = "Create form";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}
@section stylesheet{
    @Styles.Render("~/style/formbuilder")
    @Styles.Render("~/style/formstyle")
    @Styles.Render("~/style/ionicons")
}
@section scripts{
    @Scripts.Render("~/script/jqueryui")
    @Scripts.Render("~/script/modernizr")
    @Scripts.Render("~/script/jqueryvalidation")
    @Scripts.Render("~/script/formbuildertabs")
    <script type="text/javascript"
        src="~/Scripts/assets/js/lib/require.js?v=3"
        data-main="@Scripts.Url("~/Scripts/assets/js/main-built")"></script>
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="list-inline text-center" id="navList">
                <li role="presentation"><a href="#name" aria-controls="name"><span>1</span></a><span>NAME</span></li>
                <li role="presentation"><a href="#builder" aria-controls="builder"><span>2</span></a><span>CREATE</span></li>
                <li role="presentation"><a href="#aactions" aria-controls="aactions"><span>3</span></a><span>ACTIONS</span></li>
            </ul>
        </div>
    </div>
    <div class="row content" id="name">
        <div class="col-lg-12">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formNameForm", @onsubmit = "return false;"}))
            {
                @Html.AntiForgeryToken()
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", id = "formNameInput" } })
                @Html.ValidationMessageFor(model => model.Name, null, new { @id = "formNameInputValidationMessage" })
                <input type="hidden" id="render">
            }
        </div>
    </div>
    <div class="row content">
        <div class="col-md-6">
            <div class="clearfix"></div>
                <div class="tabbable">
                    <ul class="nav nav-tabs nav-justified" id="formtabs"></ul>
                    <form id="components" class="form-horizontal">
                        <fieldset>
                            <div class="tab-content"></div>
                        </fieldset>
                    </form>
                </div>
            </div>
        <div class="col-md-6">
            <div class="clearfix">
                <h1 id="formNameBuild">Your Form</h1>
                <hr id="formNameRule">
                <div id="build">
                    <form id="target" class="form-horizontal"></form>
                </div>
            </div>
        </div>
    </div>
    <div class="row content" id="aactions">
        <div class="col-lg-12">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center nav-button-row">
            <button type="button" id="previous" class="btn">
                <span class="ion-ios-arrow-left"></span>
            </button>
            <button type="button" id="next" class="btn">
                <span class="ion-ios-arrow-right"></span>
            </button>
            <button type="button" id="finish" value="Create" class="btn">
                <span class="ion-ios-checkmark-empty"></span>
            </button>
        </div>
    </div>
</div>