@model careersfair.Models.Form

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Form</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TableName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TableName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Structure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Structure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeforeAction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeforeAction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AfterAction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AfterAction)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
