@model IEnumerable<careersfair.Models.Form>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}
@section stylesheet{
    @Styles.Render("~/style/formindex")
    @Styles.Render("~/style/ionicons")
}
@section scripts{
    @Scripts.Render("~/script/deleteform")
}
<h2>All forms</h2>
@foreach (var item in Model)
{
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 formIndexItem">
        <h1>@Html.DisplayFor(modelItem => item.Name)</h1>

        <ul class="formActionsList">
            @if (item.Linkedin != null)
            {
                <li><span class="ion-social-linkedin"></span></li>
            }
        </ul>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dataButtons">
                <a class="btn" href='@Url.Action("Delete", "FormResults", new { id = item.ID })' data-modal="">
                    <span class="ion-ios-trash-outline"></span>
                </a>

                <a class="btn" href="@Url.Action("", "", new { id = item.ID })" data-modal="">
                    <span class="ion-ios-cloud-download-outline"></span>
                </a>

                <a class="btn" href="@Url.Action("", "", new { id = item.ID })" data-modal="">
                    <span class="ion-ios-list-outline"></span>
                </a>

                <a class="btn" href="@Url.Action("", "", new { id = item.ID })">
                    <span class="ion-ios-barcode-outline"></span>
                </a>
                @if (item.Enabled)
                {
                    <a class="btn" href="@Url.Action("EnableDisable", "Form", new { id = item.ID })" data-modal="">
                        <span class="ion-ios-locked-outline"></span>
                    </a>
                }
                else
                {
                    <a class="btn" href="@Url.Action("EnableDisable", "Form", new { id = item.ID })" data-modal="">
                        <span class="ion-ios-unlocked-outline"></span>
                    </a>
                }
            </div>
            @*<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 formButtons">
                    <a class="btn" href="@Url.Action("Delete", "form", new { id = item.ID })" data-modal="">
                        <span class="ion-ios-trash-outline"></span>
                    </a>
                </div>*@
        </div>
    </div>
}
<div id="myModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="myModalContent"></div>
        </div>
    </div>
</div>