@model careersfair.Models.Form
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Enabled)
{

    ViewBag.Title = Model.Name;
    @section stylesheet{
        @Styles.Render("~/style/form-style")
        @Styles.Render("~/style/ionicons")
    }
    @section scripts{
        @Scripts.Render("~/script/buttons")
        @Scripts.Render("~/script/formwizard")
        @if (Model.Linkedin != null)
        {
            @Scripts.Render("~/script/linkedin")
            <script type="text/javascript" src="//platform.linkedin.com/in.js">
                api_key: 7592ej7ul45wno
                authorize: true
                onLoad: onLinkedInLoad
                x-li-format: json
            </script>
        }
        @*<script>
            var createAllErrors = function() {
                var form = $( this ),
                    errorList = $( "ul.errorMessages", form );

                var showAllErrorMessages = function() {
                    errorList.empty();

                    // Find all invalid fields within the form.
                    var invalidFields = form.find( ":invalid" ).each( function( index, node ) {

                        // Find the field's corresponding label
                        var label = $( "label[for=" + node.id + "] "),
                            // Opera incorrectly does not fill the validationMessage property.
                            message = node.validationMessage || 'Invalid value.';

                        errorList
                            .show()
                            .append( "<li><span>" + label.html() + "</span> " + message + "</li>" );
                    });
                };

                // Support Safari
                form.on( "submit", function( event ) {
                    if ( this.checkValidity && !this.checkValidity() ) {
                        $( this ).find( ":invalid" ).first().focus();
                        event.preventDefault();
                    }
                });

                $( "input[type=submit], button:not([type=button])", form )
                    .on( "click", showAllErrorMessages);

                $( "input", form ).on( "keypress", function( event ) {
                    var type = $( this ).attr( "type" );
                    if ( /date|email|month|number|search|tel|text|time|url|week/.test ( type )
                      && event.keyCode == 13 ) {
                        showAllErrorMessages();
                    }
                });
            };

            $( "form" ).each( createAllErrors );
        </script>*@
    }

    <div class="container">
        <div class="row">
            <div class="col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <h2>@Html.DisplayFor(model => model.Name)</h2>
                <ul class="errorMessages"></ul>
                <div id="linkedinbutton">
                    @if (Model.Linkedin != null)
                    {
                        <script type="in/Login"></script>
                    }
                </div>
                @using (Html.BeginForm("SubmitForm", "FormResults", FormMethod.Post, new { enctype = "multipart/form-data", id = "form", @class="form-horizontal" }))
                {
                    <fieldset>
                        @Html.Raw(Model.HTML)
                        <input type="hidden" value="@Model.ID" name="formID" />
                        <input type="hidden" value="@Model.Elements" name="formElements" />
                        @if (Model.Linkedin != null)
                        {
                            <input type="hidden" value="@Model.Linkedin" name="formLinked" id="formLinked" />
                        }
                        <input type="hidden" value="@Model.Storage" name="formStorage" />
                    </fieldset>
                    <button type="submit" class="btn pull-right" value="Upload" id="submit">
                        <span class="ion-ios-checkmark-empty"></span>
                    </button>

                }
            </div>
        </div>
    </div>
}
else
{
    ViewBag.Title = "Disabled Form";
    @section stylesheet{
        @Styles.Render("~/style/form-disabled")
        @Styles.Render("~/style/ionicons")
    }
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-12 col-md-8 col-lg-8 formDisabled">
                <h2 align="center">Sorry, that form is locked.</h2>
                <div>
                    <span class="ion-ios-locked-outline"></span>
                </div>
            </div>
        </div>
    </div>
}